@media (max-width: 1600px) {
  .container {
    width: 95%;
    margin: 0;
  }
  .header .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__nav {
    display: none;
  }
  .header__phone {
    width: 200px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 30px 0px 0px 0px;
  }
  .header__call-button {
    margin: 15px 0px 50px 0px;
  }
  .header__logo {
    margin: 30px 0px 0px 0px;
  }
  .header__slider {
    margin: 0px auto;
    text-align: center;
  }
  .header__calc-button {
    margin: 30px auto;
  }
}
