@media (max-width: 1400px) {
  .footer__dev {
    margin: 0px 20px 15px 0px;
  }
  .technic__col.center {
    margin: 0px -10px;
  }
  .objects__slider .slick-arrow.slick-prev {
    left: -10px;
  }
  .objects__slider .slick-arrow.slick-next {
    right: -10px;
  }
  .header__slider .slick-arrow.slick-next {
    right: -80px;
  }
  .header__slider .slick-arrow.slick-prev {
    left: -80px;
  }
  .container {
    width: 98%;
  }
}

@media (max-width: 1210px) {
  .consultation p {
    margin: 0px 0px 0px 10px;
  }
  .objects__card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .consultation__button {
    margin: 0px 10px 0px 10px;
    text-align: center;
  }
  .advantages .wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .advantages .wrapper .advantages__item {
    margin: 15px;
  }
  .certificates__item {
    margin: 0px 0px 50px 0px;
  }
  .certificates__row.line {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .speed__col-r img {
    left: -7px;
  }
  .speed__col-r img.map {
    left: 170px;
  }
  .technic .wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .technic__col.center {
    display: none;
  }
  .dop-functions .wrapper {
    width: 972px;
    background-position: top right;
  }
}

@media (max-width: 992px) {
  .objects__slider .slick-dots li.slick-active button {
    bottom: -32px;
  }
  .health__item {
    border-bottom: none;
  }
  .header__slider {
    text-align: center;
  }
  .header__calc-button {
    margin: 70px auto 80px auto;
  }
  .health__col-left {
    z-index: 1;
  }
  .health__col-right img {
    z-index: 0;
    right: 0;
  }
  .technic .wrapper {
    padding-bottom: 100px;
  }
  .objects__slider .slick-arrow.slick-prev {
    left: 0;
  }
  .objects__slider .slick-arrow.slick-next {
    right: 0;
  }
  .age__row p {
    max-width: 275px;
  }
  .footer__column {
    margin-top: 50px;
  }
  .footer__column h3 {
    text-align: center;
  }
  .footer__column.top h2 {
    text-align: left;
  }
  .footer__subcolumn h2 {
    text-align: center;
  }
  .footer__row.bottom {
    height: 300px;
  }
  .footer h1 {
    text-align: center;
  }
  .footer .wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__slider {
    margin-top: 100px;
  }
  .header__logo {
    margin: 40px 0px 40px 0px;
  }
  .header__nav {
    display: none;
  }
  .header .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .technic__item p {
    width: 100%;
  }
  .selection__item p {
    width: 100%;
  }
  .consultation__button {
    margin: 0px 10px 30px 10px;
  }
  .consultation__row.sign p {
    bottom: 10px;
    right: 10px;
    width: 160px;
  }
  .consultation__row.sign img {
    margin: 0px 80px -52px 0px;
  }
  .consultation h3 {
    width: 100%;
    text-align: center;
  }
  .consultation input {
    width: 256px;
    margin: 20px 0px 20px 0px;
  }
  .consultation__row.form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .selection {
    padding: 140px 0px 800px 0px;
  }
  .selection__slider {
    position: absolute;
    left: 50%;
    margin-left: -315px;
    top: 800px;
  }
  .selection__responsibility {
    position: absolute;
    height: 380px;
    left: 50%;
    margin-left: -160px;
    top: 380px;
  }
  .selection__row {
    width: 100%;
  }
  .speed__col-r img {
    left: 133px;
  }
  .speed__col-r img.map {
    left: 340px;
  }
  .speed .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dop-functions p {
    font-size: 28px;
    line-height: 40px;
  }
  .dop-functions .wrapper {
    width: 758px;
  }
}

@media (max-width: 768px) {
  .map__contacts {
    left: 10px;
  }
  .speed__item {
    margin: 30px 0px 35px 0px;
  }
  .health__col-right img {
    right: -40px;
  }
  .technic .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .health .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .consultation__row.sign {
    height: 100%;
  }
  .consultation h3::before {
    display: none;
  }
  .consultation p {
    margin: 0px 0px 25px 10px;
  }
  .consultation__row.sign img {
    margin: 0px 0px 0px 0px;
  }
  .consultation__title {
    margin: 0;
    width: 100%;
  }
  .consultation__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .age__row p.short {
    margin: 0;
  }
  .age__row img {
    margin: 20px 0px 0px 0px;
  }
  .age__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .selection__responsibility {
    top: 510px;
  }
  .selection__slider {
    margin-left: -280px;
  }
  .selection__slider {
    top: 950px;
    width: 560px;
  }
  .selection__slide-persone {
    margin: -33px 21px 0px 0px;
  }
  .selection__slider-item {
    padding: 25px 25px 0px 25px;
  }
  .consultation__row.sign {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .consultation__row.sign {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .speed__col-r img {
    left: 5px;
  }
  .speed__col-r img.map {
    left: 247px;
  }
  .technic__item img {
    width: 30%;
    height: 30%;
  }
  .dop-functions p {
    font-size: 18px;
    line-height: 32px;
  }
  .dop-functions .wrapper {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .objects__card {
    padding: 60px 15px 0px 15px;
  }
  .objects__slider .slick-arrow {
    top: 17%;
  }
  .objects__card-col ul {
    margin: 0px 5px 0px 0px;
    font-size: 14px;
  }
  .objects__card,
  .objects__card-col {
    width: 100%;
  }
  .objects__slider {
    width: 100%;
  }
  .objects__slider img {
    max-width: 350px;
  }
  .dop-functions .wrapper {
    padding: 0px 50px 0px 0px;
  }
  .dop-functions p {
    margin: 0px 0px 0px 20px;
    font-size: 15px;
    line-height: 24px;
  }
  .dop-functions img {
    height: 150px;
  }
  .health__col-left {
    width: 100%;
  }
  .health__item p {
    width: 100%;
  }
  .health__col-right {
    width: 100%;
  }
  .health__col-right img {
    right: 30px;
    max-width: 50%;
    max-height: 50%;
  }
  .certificates__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .objects__slider .slick-dots li.slick-active button {
    left: 50%;
    margin-left: -20px;
  }
  .selection__slide-col {
    position: absolute;
    text-align: left;
  }
  .selection__slide-col.right {
    margin: 0px 0px 0px 120px;
    width: 220px;
  }
  .footer__subcolumn {
    margin: 30px 0px 0px 20px;
  }
  .header__call-button {
    margin: 20px 0px 0px 0px;
  }
  .header__phone {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__slider {
    font-size: 30px;
    line-height: 50px;
    margin: 50px 10px 0px 10px;
  }
  .speed__col-l {
    padding: 0px 0px 0px 30px;
  }
  .selection {
    padding: 140px 0px 800px 0px;
  }
  .selection__responsibility {
    top: 620px;
  }
  .selection__item {
    margin: 20px 0px 0px 0px;
  }
  .selection__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .selection__slide-stars {
    margin: -192px -340px 0px 0px;
  }
  .selection__slider {
    top: 1030px;
    height: 405px;
    width: 410px;
    margin-left: -205px;
  }
  .selection__slide-title {
    text-align: center;
  }
  .selection__slide-col {
    color: #fff;
    width: 100%;
  }
  .selection__slide-persone {
    margin: 0px 21px 0px 0px;
  }
  .selection__slide-content {
    padding: 0px 20px 0px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .speed__col-r img.map {
    left: 95px;
  }
  .header__slider .slick-arrow.slick-prev {
    left: 0;
  }
  .header__slider .slick-arrow.slick-next {
    right: 0;
  }
}
