@media (max-width: 1400px) {
   .footer__dev {
      margin: 0px 20px 15px 0px;
   }
   .technic__col.center {
      margin: 0px -10px;
   }
   .objects__slider .slick-arrow.slick-prev {
      left: -10px;
   }
   .objects__slider .slick-arrow.slick-next {
      right: -10px;
   }
   .header__slider .slick-arrow.slick-next {
      right: -80px;
   }
   .header__slider .slick-arrow.slick-prev {
      left: -80px;
   }
   .container {
      width: 98%;
   }
}
@media (max-width: 1210px) {
   .objects__card {
      flex-wrap: wrap;
      justify-content: center;
   }
   .consultation__button {
      margin: 0px 10px 0px 10px;
      text-align: center;
   }
   .advantages__title.b02 {
      margin: 0px 10px 0px 10px;
   }
   .advantages__item {
      width: 308px;
   }
   .certificates__item {
      margin: 0px 0px 50px 0px;
   }
   .certificates__row.line {
      flex-wrap: wrap;
   }
   .speed__col-r img {
      left: -7px;
   }
   .speed__col-r img.map {
      left: 170px;
   }
   .technic .wrapper {
      justify-content: space-between;
   }
   .technic__col.center {
      display: none;
   }

   .dop-functions .wrapper {
      width: 972px;
      background-position: top right;
   }
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
@media (max-width: 413px) {
}
