@media (max-width: 992px) {
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0px 10px 0px 10px;
  }
  .header .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__nav {
    display: none;
  }
  .header__phone {
    width: 200px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 30px 0px 0px 0px;
  }
  .header__call-button {
    margin: 15px 0px 50px 0px;
  }
  .header__logo {
    margin: 30px 0px 0px 0px;
  }
  .header__slider {
    font-size: 42px;
    margin: 0px auto;
    text-align: center;
  }
  .header__calc-button {
    margin: 30px auto;
  }
}
