@media (max-width: 992px) {
   .container {
      width: 100%;
      margin: 0 auto;
      padding: 0px 10px 0px 10px;
   }
   .header .wrapper {
      flex-direction: column;
   }
   .header__nav {
      display: none;
   }
   .header__phone {
      width: 200px;
      flex-wrap: wrap;
      justify-content: center;
      margin: 30px 0px 0px 0px;
   }
   .header__call-button {
      margin: 15px 0px 50px 0px;
   }
   .header__logo {
      margin: 30px 0px 0px 0px;
   }
   .header__slider {
      font-size: 42px;
      margin: 0px auto;
      text-align: center;
   }
   .header__calc-button {
      margin: 30px auto;
   }
}
