@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Panton";
  src: url("../fonts/Panton-Bold.eot");
  src: local("☺"), url("../fonts/Panton-Bold.woff") format("woff"), url("../fonts/Panton-Bold.ttf") format("truetype"), url("../fonts/Panton-Bold.svg") format("svg");
  font-weight: Bold;
  font-style: normal;
}

@font-face {
  font-family: "Panton-ExtraBold";
  src: url("../fonts/Panton-ExtraBold.eot");
  src: local("☺"), url("../fonts/Panton-ExtraBold.woff") format("woff"), url("../fonts/Panton-ExtraBold.ttf") format("truetype"), url("../fonts/Panton-ExtraBold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Panton";
  src: url("../fonts/Panton-Regular.eot");
  src: local("☺"), url("../fonts/Panton-Regular.woff") format("woff"), url("../fonts/Panton-Regular.ttf") format("truetype"), url("../fonts/Panton-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Panton-SemiBold";
  src: url("../fonts/Panton-SemiBold.eot");
  src: local("☺"), url("../fonts/Panton-SemiBold.woff") format("woff"), url("../fonts/Panton-SemiBold.ttf") format("truetype"), url("../fonts/Panton-SemiBold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
}

section {
  position: relative;
}

.container {
  max-width: 1210px;
  margin: 0px auto;
}

.header {
  background: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 35px 0px 50px 0px;
  color: #fff;
}

.header a {
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header__informer {
  font-weight: 300;
  font-size: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header__informer img {
  margin: 0px 10px 0px 0px;
}

.header__text {
  margin: 0px 0px 0px 20px;
  width: 150px;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.7;
  line-height: 20px;
}

.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #fff;
  font-family: "Panton";
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
}

.header__phone span {
  font-weight: bold;
  margin: 0px 5px 0px 0px;
}

.header__call-button {
  margin: 0px 0px 0px 30px;
  border: 1px solid #fff;
  border-radius: 1px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.72px;
  padding: 20px 30px 20px 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__call-button:hover {
  border: 1px solid #fd2c34;
  color: #fd2c34;
}

.header__nav ul {
  margin: 25px 0px 115px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav li {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  margin: 0px -1px 0px 0px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__nav li a {
  color: #fff;
  font-size: 13px;
  font-family: "Panton";
  letter-spacing: 1.56px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 65px;
}

.header__nav li a:hover {
  color: #fd2c34;
}

.header__nav li:hover {
  border: 1px solid #fd2c34;
}

.header__slider {
  font-family: "Panton";
  font-size: 54px;
  font-weight: Bold;
  font-style: normal;
  letter-spacing: normal;
  line-height: 64px;
  max-width: 670px;
  margin: 0px 0px 0px 80px;
}

.header__calc-button {
  font-family: "Panton-ExtraBold";
  font-size: 14px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  background: #fd2c34;
  width: 270px;
  line-height: 20px;
  text-align: center;
  padding: 15px 0px 15px 0px;
  margin: 70px 0px 80px 0px;
}

.advantages {
  padding: 50px 0px 50px 0px;
}

.advantages .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url("../img/advantages-bg.svg");
  background-repeat: no-repeat;
  width: 380px;
  height: 140px;
  font-family: "Panton-SemiBold";
  font-size: 15px;
  line-height: 24px;
  color: #768186;
  padding: 0px 20px 0px 25px;
}

.advantages__item span {
  font-size: 54px;
}

.advantages__item span.s03 {
  font-size: 24px;
}

.advantages__item img {
  position: absolute;
  left: 0;
  bottom: 0;
}

.advantages__item img.i01 {
  left: 80px;
}

.advantages__item img.i03 {
  bottom: 10px;
}

.advantages__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Panton";
  font-weight: bold;
  font-size: 83px;
  color: #fd2c34;
  margin: 0px 20px 0px 0px;
}

.advantages__title.b02 {
  margin: 0px 20px 0px 40px;
}

.health {
  padding: 50px 0px 100px 0px;
}

.health__title {
  color: #1d313a;
  font-family: "Panton";
  font-size: 50px;
  font-weight: Bold;
  font-style: normal;
  letter-spacing: normal;
  line-height: 64px;
  text-align: center;
}

.health__title span {
  color: #fd2c34;
}

.health__subtitle {
  color: #768186;
  font-family: "Panton";
  font-size: 34px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: 55px;
  text-align: center;
}

.health__subtitle span {
  color: #fd2c34;
}

.health .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 100%;
  margin: 50px 0px 0px 0px;
}

.health__col-left {
  width: 440px;
  position: relative;
}

.health__item {
  font-family: "Panton";
  line-height: 26px;
  font-size: 17px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #eeeeee;
  padding: 30px 0px 0px 0px;
}

.health__item p {
  width: 283px;
}

.health__item span {
  font-weight: normal;
  color: #768186;
}

.health__col-right {
  height: 510px;
  width: 445px;
  position: relative;
}

.health__col-right .h-logo {
  bottom: 120px;
}

.health__col-right img {
  position: absolute;
  bottom: -50px;
  right: 150px;
}

.sections-bg {
  background: #eeeeee;
  background-image: url("../img/healthBG.jpg");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.dop-functions img {
  height: 190px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.dop-functions p {
  width: 823px;
  font-family: "Panton";
  font-size: 32px;
  line-height: 45px;
}

.dop-functions p span {
  font-weight: bold;
}

.dop-functions .wrapper {
  padding: 0px 100px 0px 0px;
  margin: -100px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1170px;
  height: 200px;
  background: url("../img/dop-functions-bg.png");
  background-repeat: no-repeat;
}

.technic {
  padding: 95px 0px 0px 0px;
}

.technic__subtitle {
  color: #768186;
  font-family: "Panton";
  font-size: 34px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: 55px;
  text-align: center;
}

.technic__subtitle span {
  color: #fd2c34;
}

.technic__title {
  color: #1d313a;
  font-family: "Panton";
  font-size: 50px;
  font-weight: Bold;
  font-style: normal;
  letter-spacing: normal;
  line-height: 64px;
  text-align: center;
}

.technic__title span {
  color: #fd2c34;
}

.technic .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 55px 0px 0px 0px;
}

.technic__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  color: #768186;
  line-height: 24px;
  border-bottom: 1px solid #eeeeee;
}

.technic__item p {
  margin: 20px 0px 0px 0px;
  width: 260px;
}

.technic__item span {
  color: #1d313a;
  font-weight: bold;
}

.speed {
  background: #eeeeee;
  padding: 100px 0px 0px 0px;
}

.speed__subtitle {
  color: #768186;
  font-family: "Panton";
  font-size: 34px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: 55px;
  text-align: center;
}

.speed__subtitle span {
  color: #fd2c34;
}

.speed__title {
  color: #1d313a;
  font-family: "Panton";
  font-size: 50px;
  font-weight: Bold;
  font-style: normal;
  letter-spacing: normal;
  line-height: 64px;
  text-align: center;
  max-width: 765px;
  margin: 0 auto;
}

.speed__title span {
  color: #fd2c34;
}

.speed .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0px 0px 0px;
}

.speed__col-l {
  padding: 0px 0px 0px 100px;
}

.speed__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0px 0px 0px;
}

.speed__item p {
  margin: 10px 0px 0px 30px;
  width: 240px;
  font-size: 15px;
  line-height: 24px;
  color: #768186;
}

.speed__item span {
  font-size: 30px;
  color: #729556;
  font-weight: 700;
  line-height: 40px;
}

.speed__col-r {
  position: relative;
  height: 420px;
}

.speed__col-r img {
  position: absolute;
  bottom: 0;
  left: 70px;
}

.speed__col-r img.map {
  left: 310px;
  bottom: 100px;
}

.selection {
  padding: 140px 0px 60px 0px;
}

.selection__title {
  color: #1d313a;
  font-family: "Panton";
  font-size: 50px;
  font-weight: Bold;
  font-style: normal;
  letter-spacing: normal;
  line-height: 64px;
  text-align: center;
  max-width: 850px;
  margin: 0 auto 45px auto;
}

.selection__title span {
  color: #fd2c34;
}

.selection__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 970px;
  margin: 0 auto 70px auto;
}

.selection__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Panton";
  font-size: 16px;
  color: #768186;
  line-height: 24px;
}

.selection__item p {
  width: 320px;
  margin: 0px 0px 0px 10px;
}

.selection__item span {
  font-weight: bold;
  color: #1d313a;
}

.selection__responsibility {
  position: relative;
  width: 320px;
  background-color: #eeeeee;
  padding: 40px;
  font-size: 15px;
  color: #768186;
  line-height: 25px;
}

.selection__responsibility span {
  font-weight: bold;
  color: #fd2c34;
}

.selection__responsibility img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.selection__slider {
  position: relative;
  width: 630px;
  height: 372px;
  background-color: #9eb47c;
  background-image: linear-gradient(-265deg, rgba(255, 255, 255, 0.36) 0%, rgba(255, 255, 255, 0) 100%);
}

.selection__slide-01 {
  padding: 45px 45px 0px 45px;
}

.selection__slide-title {
  color: #1d313a;
  font-family: "Panton";
  font-size: 24px;
  font-weight: Bold;
  font-style: normal;
  letter-spacing: normal;
  line-height: 64px;
}

.selection__slide-title span {
  color: #fd2c34;
}

.selection__slide-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.selection__slide-col {
  font-family: "Panton";
  font-weight: bold;
  color: #768186;
  width: 125px;
  font-size: 16px;
  line-height: 26px;
}

.selection__slide-col.right {
  font-weight: normal;
}

.selection__slide-persone {
  position: absolute;
  right: 120px;
  bottom: 0;
}

.selection__slide-stars {
  position: absolute;
  right: 45px;
  top: 45px;
}

.selection__slider-prew {
  position: absolute;
  left: 60px;
  bottom: 35px;
}

.selection__slider-next {
  position: absolute;
  right: 60px;
  bottom: 35px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.consultation {
  padding: 60px 0px 0px 0px;
  background: url("../img/consultation-bg.png"), #374952;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  color: #768186;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.consultation p {
  width: 240px;
}

.consultation p span {
  font-weight: bold;
}

.consultation__row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0px 0px 50px 0px;
  padding: 0px 0px 60px 0px;
}

.consultation__row.form {
  margin: 0px 0px 0px 0px;
}

.consultation__row.form p {
  width: 395px;
}

.consultation__row.nline {
  border: none;
  padding: 0px 0px 0px 0px;
}

.consultation__row.nline h3 {
  width: 100%;
}

.consultation__row.sign {
  padding: 0px 0px 0px 0px;
}

.consultation__row.sign img {
  margin: 0px 280px 0px 0px;
}

.consultation__row.sign p {
  position: absolute;
  right: 80px;
  bottom: 40px;
  width: 165px;
}

.consultation__row.sign p span {
  color: #fff;
  font-family: "Panton";
  font-size: 24px;
  font-weight: bold;
  line-height: 45px;
}

.consultation__title {
  margin: 0px 0px 0px 70px;
  width: 650px;
  color: #fff;
  font-family: "Panton-SemiBold";
  font-size: 54px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: 68px;
}

.consultation__title span {
  color: #729556;
}

.consultation h3 {
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  padding: 0px 0px 0px 70px;
  width: 170px;
  line-height: 32px;
  margin: 0px 80px 0px 0px;
}

.consultation h3::before {
  content: "";
  background-color: #ffffff;
  width: 46px;
  height: 1px;
  position: absolute;
  left: 0;
  margin: 12px 0px 0px 0px;
}

.consultation input {
  height: 54px;
  padding: 0px 20px 0px 20px;
  width: 237px;
}

.consultation__button {
  background: #fd2c34;
  color: #fff;
  text-transform: uppercase;
  font-family: "Panton";
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1.4px;
  height: 54px;
  padding: 0px 20px 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 0px -20px;
}

.objects {
  background-color: #f7f7f7;
  padding: 80px 0px 100px 0px;
}

.objects__subtitle {
  color: #768186;
  font-family: "Panton";
  font-size: 34px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: 55px;
  text-align: center;
}

.objects__subtitle span {
  color: #fd2c34;
}

.objects__title {
  color: #1d313a;
  font-family: "Panton";
  font-size: 50px;
  font-weight: Bold;
  font-style: normal;
  letter-spacing: normal;
  line-height: 64px;
  text-align: center;
}

.objects__title span {
  color: #fd2c34;
}

.objects__slider {
  background-color: #fdfdfd;
  margin: 50px 0px 0px 0px;
  position: relative;
}

.objects__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 40px 0px 40px;
}

.objects__card-col {
  font-family: "Panton";
  font-size: 18px;
  line-height: 24px;
  color: #768186;
}

.objects__card-col ul {
  margin: 0px 35px 0px 0px;
}

.objects__card-col li {
  margin: 10px 0px 0px 20px;
  width: 167px;
  list-style-type: square;
  color: #fd2c34;
}

.objects__card-col li span {
  font-weight: normal;
  color: #768186;
}

.objects__card-col p {
  margin: 0px 0px 25px 0px;
}

.objects__card-col span {
  font-weight: bold;
  color: #1d313a;
  margin: 0px 0px 0px 5px;
}

.objects__card-title {
  font-family: "Panton";
  font-size: 30px;
  font-weight: bold;
  color: #1d313a;
  margin: 0px 0px 17px 0px;
}

.objects__card-title span {
  color: #fd2c34;
}

.objects__card-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0px 15px 0px;
}

.objects__card-row.top {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.objects__card-row img {
  margin: 0px 15px 0px 0px;
}

.objects__card-subtitle {
  color: #1d313a;
  font-weight: bold;
  margin: 35px 0px 30px 0px;
}

.objects__card-price {
  background-color: #f7f7f7;
  width: 200px;
  height: 200px;
  padding: 40px;
  font-size: 18px;
  font-weight: 400;
  color: #768186;
}

.objects__card-price h2 {
  font-size: 50px;
  font-weight: bold;
  color: #1d313a;
  line-height: 59px;
}

.objects__card-price span {
  color: #1d313a;
  font-size: 22px;
  font-weight: 700;
}

.objects__card-num {
  color: #fd2c34;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  left: 40px;
  bottom: 40px;
}

.objects__card-num span {
  font-size: 13px;
  color: #181818;
}

.objects__prew {
  position: absolute;
  left: -70px;
  top: 45%;
}

.objects__next {
  position: absolute;
  right: -70px;
  top: 45%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.certificates {
  padding: 90px 0px 0px 0px;
}

.certificates__title {
  color: #1d313a;
  font-family: "Panton";
  font-size: 50px;
  font-weight: Bold;
  font-style: normal;
  letter-spacing: normal;
  line-height: 64px;
  text-align: center;
  max-width: 955px;
  margin: 0px auto;
}

.certificates__title span {
  color: #fd2c34;
}

.certificates__subtitle {
  color: #768186;
  font-family: "Panton";
  font-size: 17px;
  text-align: center;
  margin: 50px 0px 35px 0px;
}

.certificates__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.certificates__row.line {
  padding: 0px 0px 90px 0px;
  border-bottom: 1px solid rgba(4, 4, 4, 0.1);
}

.certificates__button {
  font-family: "Panton";
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #768186;
  letter-spacing: 0.72px;
  border-radius: 1px;
  border: 1px solid #768186;
  padding: 20px 30px;
  margin: 0px -1px 40px 0px;
}

.certificates__button.active {
  color: #ffffff;
  background-color: #374952;
}

.certificates__item {
  text-align: center;
  color: #768186;
  font-family: "Panton";
  font-size: 16px;
}

.certificates__item p {
  margin: 10px 0px 0px 0px;
}

.certificates__item span {
  color: #1d313a;
  font-size: 18px;
  font-weight: bold;
  line-height: 35px;
}

.age {
  padding: 80px 0px 80px 0px;
}

.age__subtitle {
  color: #768186;
  font-family: "Panton";
  font-size: 34px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: 55px;
  text-align: center;
}

.age__subtitle span {
  color: #fd2c34;
}

.age__title {
  color: #1d313a;
  font-family: "Panton";
  font-size: 50px;
  font-weight: Bold;
  font-style: normal;
  letter-spacing: normal;
  line-height: 64px;
  text-align: center;
  max-width: 875px;
  margin: 0px auto;
}

.age__title span {
  color: #fd2c34;
}

.age__row {
  margin: 55px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #768186;
  font-size: 15px;
  line-height: 24px;
}

.age__row p {
  max-width: 410px;
}

.age__row p.short {
  max-width: 210px;
  margin: 0px 60px 0px 0px;
}

.age__row img {
  margin: 0px 25px 0px 0px;
}
