@import "_nullstyle";
@font-face {
   font-family: "Panton";
   src: url("../fonts/Panton-Bold.eot");
   src: local("☺"), url("../fonts/Panton-Bold.woff") format("woff"), url("../fonts/Panton-Bold.ttf") format("truetype"),
      url("../fonts/Panton-Bold.svg") format("svg");
   font-weight: Bold;
   font-style: normal;
}
@font-face {
   font-family: "Panton-ExtraBold";
   src: url("../fonts/Panton-ExtraBold.eot");
   src: local("☺"), url("../fonts/Panton-ExtraBold.woff") format("woff"),
      url("../fonts/Panton-ExtraBold.ttf") format("truetype"), url("../fonts/Panton-ExtraBold.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Panton";
   src: url("../fonts/Panton-Regular.eot");
   src: local("☺"), url("../fonts/Panton-Regular.woff") format("woff"),
      url("../fonts/Panton-Regular.ttf") format("truetype"), url("../fonts/Panton-Regular.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Panton-SemiBold";
   src: url("../fonts/Panton-SemiBold.eot");
   src: local("☺"), url("../fonts/Panton-SemiBold.woff") format("woff"),
      url("../fonts/Panton-SemiBold.ttf") format("truetype"), url("../fonts/Panton-SemiBold.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

body {
   font-family: "Roboto", sans-serif;
}

$red: #fd2c34;
$white: #fff;
$fon: #24323c;
$gray: #eeeeee;
$green: #729556;

@mixin f50($fc) {
   color: $fc;
   font-family: "Panton";
   font-size: 50px;
   font-weight: Bold;
   font-style: normal;
   letter-spacing: normal;
   line-height: 64px;
   & span {
      color: $red;
   }
}
@mixin f32($fc) {
   color: $fc;
   font-family: "Panton";
   font-size: 32px;
   font-weight: normal;
   font-style: normal;
   letter-spacing: normal;
   line-height: 64px;
   & span {
      color: $red;
   }
}
@mixin f34($fc) {
   color: $fc;
   font-family: "Panton";
   font-size: 34px;
   font-weight: normal;
   font-style: normal;
   letter-spacing: normal;
   line-height: 64px;
   & span {
      color: $red;
   }
}

@mixin f24($fc) {
   color: $fc;
   font-family: "Panton";
   font-size: 24px;
   font-weight: Bold;
   font-style: normal;
   letter-spacing: normal;
   line-height: 64px;
   & span {
      color: $red;
   }
}
@mixin f18($fc) {
   color: $fc;
   font-family: "Panton";
   font-size: 18px;
   font-weight: normal;
   font-style: normal;
   letter-spacing: normal;
   line-height: 64px;
   & span {
      color: $red;
   }
}
@mixin f16($fc) {
   color: $fc;
   font-family: "Panton";
   font-size: 16px;
   font-weight: normal;
   font-style: normal;
   letter-spacing: normal;
   line-height: 64px;
   & span {
      color: $red;
   }
}

.container {
   max-width: 1170px;
   margin: 0px auto;
}

.header {
   background: url(../img/header-bg.jpg);
   background-repeat: no-repeat;
   background-position: top center;
   background-size: cover;
   padding: 35px 0px 50px 0px;

   &__informer {
   }

   &__text {
   }

   &__logo {
   }

   &__phone {
   }

   &__call-button {
   }

   &__nav {
   }

   &__slider {
   }

   &__calc-button {
   }
}
