@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Panton";
  src: url("../fonts/Panton-Bold.eot");
  src: local("☺"), url("../fonts/Panton-Bold.woff") format("woff"), url("../fonts/Panton-Bold.ttf") format("truetype"), url("../fonts/Panton-Bold.svg") format("svg");
  font-weight: Bold;
  font-style: normal;
}

@font-face {
  font-family: "Panton-ExtraBold";
  src: url("../fonts/Panton-ExtraBold.eot");
  src: local("☺"), url("../fonts/Panton-ExtraBold.woff") format("woff"), url("../fonts/Panton-ExtraBold.ttf") format("truetype"), url("../fonts/Panton-ExtraBold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Panton";
  src: url("../fonts/Panton-Regular.eot");
  src: local("☺"), url("../fonts/Panton-Regular.woff") format("woff"), url("../fonts/Panton-Regular.ttf") format("truetype"), url("../fonts/Panton-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Panton-SemiBold";
  src: url("../fonts/Panton-SemiBold.eot");
  src: local("☺"), url("../fonts/Panton-SemiBold.woff") format("woff"), url("../fonts/Panton-SemiBold.ttf") format("truetype"), url("../fonts/Panton-SemiBold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0px auto;
}

.header {
  background: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 35px 0px 50px 0px;
  color: #fff;
}

.header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header__informer {
  font-weight: 300;
  font-size: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header__informer img {
  margin: 0px 10px 0px 0px;
}

.header__text {
  margin: 0px 0px 0px 20px;
  width: 150px;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.7;
  line-height: 20px;
}

.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #fff;
  font-family: "Panton";
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
}

.header__phone span {
  font-weight: bold;
  margin: 0px 5px 0px 0px;
}

.header__call-button {
  margin: 0px 0px 0px 30px;
  border: 1px solid #fff;
  border-radius: 1px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.72px;
  padding: 20px 30px 20px 30px;
}

.header__nav ul {
  margin: 25px 0px 115px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav li {
  width: 100%;
  padding: 25px 0px 25px 0px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  margin: 0px -1px 0px 0px;
}

.header__nav li a {
  color: #fff;
  font-size: 13px;
  font-family: "Panton";
  letter-spacing: 1.56px;
  text-transform: uppercase;
}

.header__nav li:hover {
  border: 1px solid #fd2c34;
}

.header__nav li:hover a {
  color: #fd2c34;
}
