@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Panton";
  src: url("../fonts/Panton-Bold.eot");
  src: local("☺"), url("../fonts/Panton-Bold.woff") format("woff"), url("../fonts/Panton-Bold.ttf") format("truetype"), url("../fonts/Panton-Bold.svg") format("svg");
  font-weight: Bold;
  font-style: normal;
}

@font-face {
  font-family: "Panton-ExtraBold";
  src: url("../fonts/Panton-ExtraBold.eot");
  src: local("☺"), url("../fonts/Panton-ExtraBold.woff") format("woff"), url("../fonts/Panton-ExtraBold.ttf") format("truetype"), url("../fonts/Panton-ExtraBold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Panton";
  src: url("../fonts/Panton-Regular.eot");
  src: local("☺"), url("../fonts/Panton-Regular.woff") format("woff"), url("../fonts/Panton-Regular.ttf") format("truetype"), url("../fonts/Panton-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Panton-SemiBold";
  src: url("../fonts/Panton-SemiBold.eot");
  src: local("☺"), url("../fonts/Panton-SemiBold.woff") format("woff"), url("../fonts/Panton-SemiBold.ttf") format("truetype"), url("../fonts/Panton-SemiBold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
}

section {
  position: relative;
}

.container {
  max-width: 1210px;
  margin: 0px auto;
}

.header {
  background: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 35px 0px 50px 0px;
  color: #fff;
}

.header a {
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header__informer {
  font-weight: 300;
  font-size: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header__informer img {
  margin: 0px 10px 0px 0px;
}

.header__text {
  margin: 0px 0px 0px 20px;
  width: 150px;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.7;
  line-height: 20px;
}

.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #fff;
  font-family: "Panton";
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
}

.header__phone span {
  font-weight: bold;
  margin: 0px 5px 0px 0px;
}

.header__call-button {
  margin: 0px 0px 0px 30px;
  border: 1px solid #fff;
  border-radius: 1px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.72px;
  padding: 20px 30px 20px 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__call-button:hover {
  border: 1px solid #fd2c34;
  color: #fd2c34;
}

.header__nav ul {
  margin: 25px 0px 115px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav li {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  margin: 0px -1px 0px 0px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__nav li a {
  color: #fff;
  font-size: 13px;
  font-family: "Panton";
  letter-spacing: 1.56px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 65px;
}

.header__nav li a:hover {
  color: #fd2c34;
}

.header__nav li:hover {
  border: 1px solid #fd2c34;
}

.header__slider {
  font-family: "Panton";
  font-size: 54px;
  font-weight: Bold;
  font-style: normal;
  letter-spacing: normal;
  line-height: 64px;
  max-width: 670px;
  margin: 0px 0px 0px 80px;
}

.header__calc-button {
  font-family: "Panton-ExtraBold";
  font-size: 14px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  background: #fd2c34;
  width: 270px;
  line-height: 20px;
  text-align: center;
  padding: 15px 0px 15px 0px;
  margin: 70px 0px 80px 0px;
}

.advantages {
  padding: 50px 0px 50px 0px;
}

.advantages .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url("../img/advantages-bg.svg");
  background-repeat: no-repeat;
  width: 380px;
  height: 140px;
  font-family: "Panton-SemiBold";
  font-size: 15px;
  line-height: 24px;
  color: #768186;
  padding: 0px 20px 0px 25px;
}

.advantages__item span {
  font-size: 54px;
}

.advantages__item span.s03 {
  font-size: 24px;
}

.advantages__item img {
  position: absolute;
  left: 0;
  bottom: 0;
}

.advantages__item img.i01 {
  left: 80px;
}

.advantages__item img.i03 {
  bottom: 10px;
}

.advantages__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Panton";
  font-weight: bold;
  font-size: 83px;
  color: #fd2c34;
  margin: 0px 20px 0px 0px;
}

.advantages__title.b02 {
  margin: 0px 20px 0px 40px;
}

.health {
  padding: 50px 0px 100px 0px;
}

.health__title {
  color: #1d313a;
  font-family: "Panton";
  font-size: 50px;
  font-weight: Bold;
  font-style: normal;
  letter-spacing: normal;
  line-height: 64px;
  text-align: center;
}

.health__title span {
  color: #fd2c34;
}

.health__subtitle {
  color: #768186;
  font-family: "Panton";
  font-size: 34px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: 64px;
  text-align: center;
}

.health__subtitle span {
  color: #fd2c34;
}

.health .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 100%;
  margin: 50px 0px 0px 0px;
}

.health__col-left {
  width: 440px;
  position: relative;
}

.health__item {
  font-family: "Panton";
  line-height: 26px;
  font-size: 17px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #eeeeee;
  padding: 30px 0px 0px 0px;
}

.health__item p {
  width: 283px;
}

.health__item span {
  font-weight: normal;
  color: #768186;
}

.health__col-right {
  height: 510px;
  width: 445px;
  position: relative;
}

.health__col-right .h-logo {
  bottom: 120px;
}

.health__col-right img {
  position: absolute;
  bottom: -50px;
  right: 0;
}

.sections-bg {
  background: #eeeeee;
  background-image: url("../img/healthBG.jpg");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.dop-functions img {
  height: 190px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.dop-functions p {
  width: 823px;
  font-family: "Panton";
  font-size: 32px;
}

.dop-functions p span {
  font-weight: bold;
}

.dop-functions .wrapper {
  padding: 0px 100px 0px 0px;
  margin: -100px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1170px;
  height: 200px;
  background: url("../img/dop-functions-bg.png");
  background-repeat: no-repeat;
}
