@import "_nullstyle";
@font-face {
   font-family: "Panton";
   src: url("../fonts/Panton-Bold.eot");
   src: local("☺"), url("../fonts/Panton-Bold.woff") format("woff"), url("../fonts/Panton-Bold.ttf") format("truetype"),
      url("../fonts/Panton-Bold.svg") format("svg");
   font-weight: Bold;
   font-style: normal;
}
@font-face {
   font-family: "Panton-ExtraBold";
   src: url("../fonts/Panton-ExtraBold.eot");
   src: local("☺"), url("../fonts/Panton-ExtraBold.woff") format("woff"),
      url("../fonts/Panton-ExtraBold.ttf") format("truetype"), url("../fonts/Panton-ExtraBold.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Panton";
   src: url("../fonts/Panton-Regular.eot");
   src: local("☺"), url("../fonts/Panton-Regular.woff") format("woff"),
      url("../fonts/Panton-Regular.ttf") format("truetype"), url("../fonts/Panton-Regular.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Panton-SemiBold";
   src: url("../fonts/Panton-SemiBold.eot");
   src: local("☺"), url("../fonts/Panton-SemiBold.woff") format("woff"),
      url("../fonts/Panton-SemiBold.ttf") format("truetype"), url("../fonts/Panton-SemiBold.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

body {
   font-family: "Roboto", sans-serif;
}
section {
   position: relative;
}

$red: #fd2c34;
$white: #fff;
$fon: #24323c;
$gray: #eeeeee;
$green: #729556;

@mixin f50($fc) {
   color: $fc;
   font-family: "Panton";
   font-size: 50px;
   font-weight: Bold;
   font-style: normal;
   letter-spacing: normal;
   line-height: 64px;
   text-align: center;
   & span {
      color: $red;
   }
}
@mixin f32($fc) {
   color: $fc;
   font-family: "Panton";
   font-size: 32px;
   font-weight: normal;
   font-style: normal;
   letter-spacing: normal;
   line-height: 64px;
   text-align: center;

   & span {
      color: $red;
   }
}
@mixin f34($fc) {
   color: $fc;
   font-family: "Panton";
   font-size: 34px;
   font-weight: normal;
   font-style: normal;
   letter-spacing: normal;
   line-height: 64px;
   text-align: center;
   & span {
      color: $red;
   }
}

@mixin f24($fc) {
   color: $fc;
   font-family: "Panton";
   font-size: 24px;
   font-weight: Bold;
   font-style: normal;
   letter-spacing: normal;
   line-height: 64px;
   text-align: center;

   & span {
      color: $red;
   }
}
@mixin f18($fc) {
   color: $fc;
   font-family: "Panton";
   font-size: 18px;
   font-weight: normal;
   font-style: normal;
   letter-spacing: normal;
   line-height: 64px;
   text-align: center;

   & span {
      color: $red;
   }
}
@mixin f16($fc) {
   color: $fc;
   font-family: "Panton";
   font-size: 16px;
   font-weight: normal;
   font-style: normal;
   letter-spacing: normal;
   line-height: 64px;
   text-align: center;

   & span {
      color: $red;
   }
}

.container {
   max-width: 1210px;
   margin: 0px auto;
}

.header {
   & a {
      color: $white;
      transition: 0.3s;
   }

   background: url(../img/header-bg.jpg);
   background-repeat: no-repeat;
   background-position: top center;
   background-size: cover;
   padding: 35px 0px 50px 0px;
   color: $white;

   & .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
   }

   &__informer {
      font-weight: 300;
      font-size: 42px;
      display: flex;
      align-items: center;
      align-content: center;
      & img {
         margin: 0px 10px 0px 0px;
      }
   }

   &__text {
      margin: 0px 0px 0px 20px;
      width: 150px;
      font-size: 14px;
      font-weight: 400;
      opacity: 0.7;
      line-height: 20px;
   }

   &__logo {
   }

   &__phone {
      display: flex;
      align-items: center;
      align-content: center;
      color: $white;
      font-family: "Panton";
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      letter-spacing: normal;
      & span {
         font-weight: bold;
         margin: 0px 5px 0px 0px;
      }
   }

   &__call-button {
      margin: 0px 0px 0px 30px;
      border: 1px solid $white;
      border-radius: 1px;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 0.72px;
      padding: 20px 30px 20px 30px;
      transition: 0.3s;
      &:hover {
         border: 1px solid $red;
         color: $red;
      }
   }

   &__nav {
      & ul {
         margin: 25px 0px 115px 0px;
         display: flex;
         width: 100%;
         justify-content: space-between;
      }
      & li {
         width: 100%;
         border: 1px solid rgba(255, 255, 255, 0.1);
         text-align: center;
         margin: 0px -1px 0px 0px;
         transition: 0.3s;
         & a {
            color: $white;
            font-size: 13px;
            font-family: "Panton";
            letter-spacing: 1.56px;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 65px;
            &:hover {
               color: $red;
            }
         }
         &:hover {
            border: 1px solid $red;
         }
      }
   }

   &__slider {
      font-family: "Panton";
      font-size: 54px;
      font-weight: Bold;
      font-style: normal;
      letter-spacing: normal;
      line-height: 64px;
      max-width: 670px;
      margin: 0px 0px 0px 80px;
   }

   &__calc-button {
      font-family: "Panton-ExtraBold";
      font-size: 14px;
      letter-spacing: 1.4px;
      text-transform: uppercase;
      background: $red;
      width: 270px;
      line-height: 20px;
      text-align: center;
      padding: 15px 0px 15px 0px;
      margin: 70px 0px 80px 0px;
   }
}
.advantages {
   //background: $gray;
   padding: 50px 0px 50px 0px;

   & .wrapper {
      display: flex;
      justify-content: space-between;
   }

   &__item {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: url("../img/advantages-bg.svg");
      background-repeat: no-repeat;
      width: 380px;
      height: 140px;
      font-family: "Panton-SemiBold";
      font-size: 15px;
      line-height: 24px;
      color: #768186;
      padding: 0px 20px 0px 25px;
      & span {
         font-size: 54px;
         &.s03 {
            font-size: 24px;
         }
      }
      & img {
         position: absolute;
         left: 0;
         bottom: 0;
         &.i01 {
            left: 80px;
         }
         &.i03 {
            bottom: 10px;
         }
      }
   }

   &__title {
      display: flex;
      align-items: center;
      font-family: "Panton";
      font-weight: bold;
      font-size: 83px;
      color: $red;
      margin: 0px 20px 0px 0px;
      &.b02 {
         margin: 0px 20px 0px 40px;
      }
   }
}
.health {
   padding: 50px 0px 100px 0px;

   &__title {
      @include f50(#1d313a);
   }

   &__subtitle {
      @include f34(#768186);
   }
   & .wrapper {
      display: flex;
      justify-content: space-between;
      position: relative;
      width: 100%;
      margin: 50px 0px 0px 0px;
   }

   &__col-left {
      width: 440px;
      position: relative;
   }

   &__item {
      font-family: "Panton";
      line-height: 26px;
      font-size: 17px;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $gray;
      padding: 30px 0px 0px 0px;
      & p {
         width: 283px;
      }
      & span {
         font-weight: normal;
         color: #768186;
      }
   }

   &__col-right {
      height: 510px;
      width: 445px;
      position: relative;
      & .h-logo {
         bottom: 120px;
      }
      & img {
         position: absolute;
         bottom: -50px;
         right: 150px;
      }
   }
}
.sections-bg {
   background: $gray;

   background-image: url("../img/healthBG.jpg");
   background-repeat: no-repeat;
   background-position: bottom right;
}
.dop-functions {
   & img {
      height: 190px;
      align-self: flex-end;
   }
   & p {
      width: 823px;
      font-family: "Panton";
      font-size: 32px;
      line-height: 45px;
      & span {
         font-weight: bold;
      }
   }
   & .wrapper {
      padding: 0px 100px 0px 0px;
      margin: -100px 0px 0px 0px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 1170px;
      height: 200px;
      background: url("../img/dop-functions-bg.png");
      background-repeat: no-repeat;
   }
}
.technic {
   padding: 95px 0px 0px 0px;
   &__subtitle {
      @include f34(#768186);
   }

   &__title {
      @include f50(#1d313a);
   }
   & .wrapper {
      display: flex;
      margin: 55px 0px 0px 0px;
   }
   &__col {
   }

   &__item {
      display: flex;
      font-size: 16px;
      color: #768186;
      line-height: 24px;
      border-bottom: 1px solid #eeeeee;

      & p {
         margin: 20px 0px 0px 0px;
         width: 260px;
      }
      & span {
         color: #1d313a;
         font-weight: bold;
      }
   }
}
