@import "_nullstyle";

@font-face {
   font-family: "Panton";
   src: url("../fonts/Panton-Bold.eot");
   src: local("☺"), url("../fonts/Panton-Bold.woff") format("woff"), url("../fonts/Panton-Bold.ttf") format("truetype"),
      url("../fonts/Panton-Bold.svg") format("svg");
   font-weight: Bold;
   font-style: normal;
}
@font-face {
   font-family: "Panton-ExtraBold";
   src: url("../fonts/Panton-ExtraBold.eot");
   src: local("☺"), url("../fonts/Panton-ExtraBold.woff") format("woff"),
      url("../fonts/Panton-ExtraBold.ttf") format("truetype"), url("../fonts/Panton-ExtraBold.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Panton";
   src: url("../fonts/Panton-Regular.eot");
   src: local("☺"), url("../fonts/Panton-Regular.woff") format("woff"),
      url("../fonts/Panton-Regular.ttf") format("truetype"), url("../fonts/Panton-Regular.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Panton-SemiBold";
   src: url("../fonts/Panton-SemiBold.eot");
   src: local("☺"), url("../fonts/Panton-SemiBold.woff") format("woff"),
      url("../fonts/Panton-SemiBold.ttf") format("truetype"), url("../fonts/Panton-SemiBold.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Panton-Thin";
   src: url("../fonts/Panton-Thin.eot");
   src: local("☺"), url("../fonts/Panton-Thin.woff") format("woff"), url("../fonts/Panton-Thin.ttf") format("truetype"),
      url("../fonts/Panton-Thin.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

body {
   font-family: "Roboto", sans-serif;
}
section {
   position: relative;
}

$red: #fd2c34;
$white: #fff;
$fon: #24323c;
$gray: #eeeeee;
$green: #729556;

@mixin f50($fc) {
   color: $fc;
   font-family: "Panton";
   font-size: 50px;
   font-weight: Bold;
   font-style: normal;
   letter-spacing: normal;
   line-height: 64px;
   text-align: center;
   & span {
      color: $red;
   }
}
@mixin f32($fc) {
   color: $fc;
   font-family: "Panton";
   font-size: 32px;
   font-weight: normal;
   font-style: normal;
   letter-spacing: normal;
   line-height: 64px;
   text-align: center;

   & span {
      color: $red;
   }
}
@mixin f34($fc) {
   color: $fc;
   font-family: "Panton";
   font-size: 34px;
   font-weight: normal;
   font-style: normal;
   letter-spacing: normal;
   line-height: 55px;
   text-align: center;
   & span {
      color: $red;
   }
}

@mixin f24($fc) {
   color: $fc;
   font-family: "Panton";
   font-size: 24px;
   font-weight: Bold;
   font-style: normal;
   letter-spacing: normal;
   line-height: 64px;
   // text-align: center;

   & span {
      color: $red;
   }
}
@mixin f18($fc) {
   color: $fc;
   font-family: "Panton";
   font-size: 18px;
   font-weight: normal;
   font-style: normal;
   letter-spacing: normal;
   line-height: 64px;
   text-align: center;

   & span {
      color: $red;
   }
}
@mixin f16($fc) {
   color: $fc;
   font-family: "Panton";
   font-size: 16px;
   font-weight: normal;
   font-style: normal;
   letter-spacing: normal;
   line-height: 64px;
   text-align: center;

   & span {
      color: $red;
   }
}

.container {
   position: relative;
   max-width: 1210px;
   margin: 0px auto;
}

.header {
   & a {
      color: $white;
      transition: 0.3s;
   }

   background: url(../img/header-bg.jpg);
   background-repeat: no-repeat;
   background-position: top center;
   background-size: cover;
   padding: 35px 0px 50px 0px;
   color: $white;

   & .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
   }

   &__informer {
      font-weight: 300;
      font-size: 42px;
      display: flex;
      align-items: center;
      align-content: center;
      & img {
         margin: 0px 10px 0px 0px;
      }
   }

   &__text {
      margin: 0px 0px 0px 20px;
      width: 150px;
      font-size: 14px;
      font-weight: 400;
      opacity: 0.7;
      line-height: 20px;
   }

   &__logo {
   }

   &__phone {
      display: flex;
      align-items: center;
      align-content: center;
      color: $white;
      font-family: "Panton";
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      letter-spacing: normal;
      & span {
         font-weight: bold;
         margin: 0px 5px 0px 0px;
      }
   }

   &__call-button {
      margin: 0px 0px 0px 30px;
      border: 1px solid $white;
      border-radius: 1px;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 0.72px;
      padding: 20px 30px 20px 30px;
      transition: 0.3s;
      &:hover {
         border: 1px solid $red;
         color: $red;
      }
   }

   &__nav {
      & ul {
         margin: 25px 0px 115px 0px;
         display: flex;
         width: 100%;
         justify-content: space-between;
      }
      & li {
         width: 100%;
         border: 1px solid rgba(255, 255, 255, 0.1);
         text-align: center;
         margin: 0px -1px 0px 0px;
         transition: 0.3s;
         & a {
            color: $white;
            font-size: 13px;
            font-family: "Panton";
            letter-spacing: 1.56px;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 65px;
            &:hover {
               color: $red;
            }
         }
         &:hover {
            border: 1px solid $red;
         }
      }
   }

   &__slider {
      font-family: "Panton";
      font-size: 54px;
      font-weight: Bold;
      font-style: normal;
      letter-spacing: normal;
      line-height: 64px;
      // max-width: 670px;
      margin: 0px 80px 0px 80px;
   }

   &__calc-button {
      font-family: "Panton-ExtraBold";
      font-size: 14px;
      letter-spacing: 1.4px;
      text-transform: uppercase;
      background: $red;
      width: 270px;
      line-height: 20px;
      text-align: center;
      padding: 15px 0px 15px 0px;
      margin: 70px 0px 80px 0px;
   }
}
.advantages {
   //background: $gray;
   padding: 50px 0px 50px 0px;

   & .wrapper {
      display: flex;
      justify-content: space-between;
   }

   &__item {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: url("../img/advantages-bg.svg");
      background-repeat: no-repeat;
      width: 380px;
      height: 140px;
      font-family: "Panton-SemiBold";
      font-size: 15px;
      line-height: 24px;
      color: #768186;
      padding: 0px 20px 0px 25px;
      & span {
         font-size: 54px;
         &.s03 {
            font-size: 24px;
         }
      }
      & img {
         position: absolute;
         left: 0;
         bottom: 0;
         &.i01 {
            left: 80px;
         }
         &.i03 {
            bottom: 10px;
         }
      }
   }

   &__title {
      display: flex;
      align-items: center;
      font-family: "Panton";
      font-weight: bold;
      font-size: 83px;
      color: $red;
      margin: 0px 20px 0px 0px;
      &.b02 {
         margin: 0px 20px 0px 40px;
      }
   }
}
.health {
   padding: 50px 0px 100px 0px;

   &__title {
      @include f50(#1d313a);
   }

   &__subtitle {
      @include f34(#768186);
   }
   & .wrapper {
      display: flex;
      justify-content: space-between;
      position: relative;
      width: 100%;
      margin: 50px 0px 0px 0px;
   }

   &__col-left {
      width: 440px;
      position: relative;
   }

   &__item {
      font-family: "Panton";
      line-height: 26px;
      font-size: 17px;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $gray;
      padding: 30px 0px 0px 0px;
      & p {
         width: 283px;
      }
      & span {
         font-weight: normal;
         color: #768186;
      }
   }

   &__col-right {
      height: 510px;
      width: 445px;
      position: relative;
      & .h-logo {
         bottom: 120px;
      }
      & img {
         position: absolute;
         bottom: -50px;
         right: 150px;
      }
   }
}
.sections-bg {
   background: $gray;

   background-image: url("../img/healthBG.jpg");
   background-repeat: no-repeat;
   background-position: bottom right;
}
.dop-functions {
   & img {
      height: 190px;
      align-self: flex-end;
   }
   & p {
      width: 823px;
      font-family: "Panton";
      font-size: 32px;
      line-height: 45px;
      & span {
         font-weight: bold;
      }
   }
   & .wrapper {
      padding: 0px 100px 0px 0px;
      margin: -100px 0px 0px 0px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 1170px;
      height: 200px;
      background: url("../img/dop-functions-bg.png");
      background-repeat: no-repeat;
   }
}
.technic {
   padding: 95px 0px 0px 0px;
   &__subtitle {
      @include f34(#768186);
   }

   &__title {
      @include f50(#1d313a);
   }
   & .wrapper {
      display: flex;
      margin: 55px 0px 0px 0px;
   }
   &__col {
   }

   &__item {
      display: flex;
      font-size: 16px;
      color: #768186;
      line-height: 24px;
      border-bottom: 1px solid #eeeeee;

      & p {
         margin: 20px 0px 0px 0px;
         width: 260px;
      }
      & span {
         color: #1d313a;
         font-weight: bold;
      }
   }
}
.speed {
   background: #eeeeee;
   padding: 100px 0px 0px 0px;

   &__subtitle {
      @include f34(#768186);
   }

   &__title {
      @include f50(#1d313a);
      max-width: 765px;
      margin: 0 auto;
   }
   & .wrapper {
      display: flex;
      margin: 50px 0px 0px 0px;
   }
   &__col-l {
      padding: 0px 0px 0px 100px;
   }

   &__item {
      display: flex;
      margin: 30px 0px 0px 0px;
      & p {
         margin: 10px 0px 0px 30px;
         width: 240px;
         font-size: 15px;
         line-height: 24px;
         color: #768186;
      }
      & span {
         font-size: 30px;
         color: #729556;
         font-weight: 700;
         line-height: 40px;
      }
   }

   &__col-r {
      position: relative;
      height: 420px;
      & img {
         position: absolute;
         bottom: 0;
         left: 70px;
         &.map {
            left: 310px;
            bottom: 0px;
         }
      }
   }
}
.selection {
   padding: 140px 0px 60px 0px;

   &__title {
      @include f50(#1d313a);
      max-width: 850px;
      margin: 0 auto 45px auto;
   }

   &__row {
      display: flex;
      justify-content: space-between;
      width: 970px;
      margin: 0 auto 70px auto;
   }

   &__item {
      display: flex;
      align-items: center;
      font-family: "Panton";
      font-size: 16px;
      color: #768186;
      line-height: 24px;
      & p {
         width: 320px;
         margin: 0px 0px 0px 10px;
      }
      & span {
         font-weight: bold;
         color: #1d313a;
      }
   }

   &__responsibility {
      position: relative;
      width: 320px;
      background-color: #eeeeee;
      padding: 40px;
      //font-family: "Panton";
      font-size: 15px;
      color: #768186;
      line-height: 25px;
      & span {
         font-weight: bold;
         color: $red;
      }

      & img {
         position: absolute;
         right: 0;
         bottom: 0;
      }
   }

   &__slider {
      position: relative;
      width: 630px;
      height: 372px;
      background-color: #9eb47c;
      background-image: linear-gradient(-265deg, rgba(255, 255, 255, 0.36) 0%, rgba(255, 255, 255, 0) 100%);
   }

   &__slider-item {
      padding: 45px 45px 0px 45px;
   }

   &__slide-title {
      @include f24(#1d313a);
   }
   &__slide-content {
      display: flex;
      justify-content: space-between;
   }
   &__slide-col {
      font-family: "Panton";
      font-weight: bold;
      color: #768186;
      width: 125px;
      font-size: 16px;
      line-height: 26px;
      &.right {
         font-weight: normal;
      }
   }
   &__slide-persone {
      margin: -52px 0px 0px 0px;
   }
   &__slide-stars {
      margin: -75px 0px 0px 0px;
   }

   &__slider-prew {
      position: absolute;
      left: 60px;
      bottom: 35px;
   }

   &__slider-next {
      position: absolute;
      right: 60px;
      bottom: 35px;
      transform: rotate(180deg);
   }
}
.consultation {
   padding: 60px 0px 0px 0px;

   background: url("../img/consultation-bg.png"), #374952;
   background-repeat: no-repeat;
   background-blend-mode: multiply;
   background-size: cover;
   color: #768186;
   font-size: 15px;
   font-weight: 400;
   line-height: 24px;

   & p {
      width: 240px;
      & span {
         font-weight: bold;
      }
   }

   &__row {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      margin: 0px 0px 50px 0px;
      padding: 0px 0px 60px 0px;

      &.form {
         margin: 0px 0px 0px 0px;
      }

      &.form p {
         width: 395px;
      }

      &.nline {
         border: none;
         padding: 0px 0px 0px 0px;
         & h3 {
            width: 100%;
         }
      }

      &.sign {
         padding: 0px 0px 0px 0px;
      }
      &.sign img {
         margin: 0px 280px 0px 0px;
      }
      &.sign p {
         position: absolute;
         right: 80px;
         bottom: 40px;
         width: 165px;

         & span {
            color: $white;
            font-family: "Panton";
            font-size: 24px;
            font-weight: bold;
            line-height: 45px;
         }
      }
   }

   &__title {
      margin: 0px 0px 0px 70px;
      width: 650px;
      color: $white;
      font-family: "Panton-SemiBold";
      font-size: 54px;
      font-weight: normal;
      font-style: normal;
      letter-spacing: normal;
      line-height: 68px;

      & span {
         color: $green;
      }
   }
   & h3 {
      font-size: 24px;
      color: $white;
      font-weight: 700;
      padding: 0px 0px 0px 70px;
      width: 170px;
      line-height: 32px;
      margin: 0px 80px 0px 0px;

      &::before {
         content: "";
         background-color: #ffffff;
         width: 46px;
         height: 1px;
         position: absolute;
         left: 0;
         margin: 12px 0px 0px 0px;
         //top: 12px;
      }
   }
   & input {
      height: 54px;
      padding: 0px 20px 0px 20px;
      width: 237px;
   }
   &__button {
      background: $red;
      color: $white;
      text-transform: uppercase;
      font-family: "Panton";
      font-weight: bold;
      font-size: 14px;
      letter-spacing: 1.4px;
      //padding: 20px;
      height: 54px;
      padding: 0px 20px 0px 20px;
      display: flex;
      align-items: center;
      margin: 0px 0px 0px -20px;
   }
}
.objects {
   background-color: #f7f7f7;
   padding: 80px 0px 100px 0px;

   &__subtitle {
      @include f34(#768186);
   }

   &__title {
      @include f50(#1d313a);
   }

   &__slider {
      background-color: #fdfdfd;
      margin: 50px 0px 0px 0px;
      position: relative;
   }

   &__card {
      display: flex;
      justify-content: space-between;
      padding: 60px 40px 0px 40px;
   }

   &__card-col {
      font-family: "Panton";
      font-size: 18px;
      line-height: 24px;
      color: #768186;
      & ul {
         margin: 0px 35px 0px 0px;
      }
      & li {
         margin: 10px 0px 0px 20px;
         width: 167px;
         list-style-type: square;
         color: $red;
         & span {
            font-weight: normal;
            color: #768186;
         }
      }
      & p {
         margin: 0px 0px 25px 0px;
      }
      & span {
         font-weight: bold;
         color: #1d313a;
         margin: 0px 0px 0px 5px;
      }
   }

   &__card-title {
      font-family: "Panton";
      font-size: 30px;
      font-weight: bold;
      color: #1d313a;
      margin: 0px 0px 17px 0px;
      & span {
         color: $red;
      }
   }

   &__card-row {
      display: flex;
      align-items: center;
      margin: 15px 0px 15px 0px;
      &.top {
         align-items: baseline;
      }
      & img {
         margin: 0px 15px 0px 0px;
      }
   }

   &__card-subtitle {
      color: #1d313a;
      font-weight: bold;
      margin: 35px 0px 30px 0px;
   }

   &__card-price {
      background-color: #f7f7f7;
      width: 200px;
      height: 200px;
      padding: 40px;
      font-size: 18px;
      font-weight: 400;
      color: #768186;
      & h2 {
         font-size: 50px;
         font-weight: bold;
         color: #1d313a;
         line-height: 59px;
      }
      & span {
         color: #1d313a;
         font-size: 22px;
         font-weight: 700;
      }
   }

   &__card-num {
      color: $red;
      font-size: 18px;
      font-weight: bold;
      & span {
         font-size: 13px;
         color: #181818;
      }
      position: absolute;
      left: 40px;
      bottom: 40px;
   }

   &__prew {
      position: absolute;
      left: -70px;
      top: 45%;
   }

   &__next {
      position: absolute;
      right: -70px;
      top: 45%;
      transform: rotate(180deg);
   }
}
.certificates {
   padding: 90px 0px 0px 0px;

   &__title {
      @include f50(#1d313a);
      max-width: 955px;
      margin: 0px auto;
   }

   &__subtitle {
      color: #768186;
      font-family: "Panton";
      font-size: 17px;
      text-align: center;
      margin: 50px 0px 35px 0px;
   }

   &__row {
      display: flex;
      justify-content: center;
      &.line {
         padding: 0px 0px 90px 0px;
         border-bottom: 1px solid rgba(4, 4, 4, 0.1);
      }
   }

   &__button {
      font-family: "Panton";
      font-size: 12px;
      text-transform: uppercase;
      font-weight: bold;
      color: #768186;
      letter-spacing: 0.72px;
      border-radius: 1px;
      border: 1px solid #768186;
      padding: 20px 30px;
      margin: 0px -1px 40px 0px;
      &.active {
         color: #ffffff;
         background-color: #374952;
      }
   }

   &__item {
      text-align: center;
      color: #768186;
      font-family: "Panton";
      font-size: 16px;
      & p {
         margin: 10px 0px 0px 0px;
      }
      & span {
         color: #1d313a;
         font-size: 18px;
         font-weight: bold;
         line-height: 35px;
      }
   }
}
.age {
   padding: 80px 0px 80px 0px;

   &__subtitle {
      @include f34(#768186);
   }

   &__title {
      @include f50(#1d313a);
      max-width: 875px;
      margin: 0px auto;
   }

   &__row {
      margin: 55px 0px 0px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #768186;
      font-size: 15px;
      line-height: 24px;
      & p {
         max-width: 410px;
         &.short {
            max-width: 210px;
            margin: 0px 60px 0px 0px;
         }
      }
      & img {
         margin: 0px 25px 0px 0px;
      }
   }
}
.video {
   background: url(../img/header-bg.jpg);
   background-repeat: no-repeat;
   background-position: top center;
   background-size: cover;
   padding: 170px 0px 170px 0px;
   margin: 0px 0px 100px 0px;

   &__button {
      width: 90px;
      margin: 0px auto 0px auto;
   }
   &__title {
      text-align: center;
      margin: 50px 0px 0px 0px;
   }
   & a {
      font-family: "Panton";
      color: #ffffff;
      font-size: 32px;
      font-weight: bold;
      text-decoration: underline;
      line-height: 40px;
   }
}
.map {
   padding: 100px 0px 110px 0px;

   &__blok {
   }

   &__contacts {
      position: absolute;
      left: 130px;
      top: 135px;
      background: $white;
      padding: 55px 50px 60px 50px;
      & img {
         width: 100%;
         height: 100%;
         margin: 25px 20px 0px 0px;
      }
      & p {
         width: 220px;
         color: #768186;
         font-family: "Panton";
         font-size: 15px;
         line-height: 24px;
      }
      & h2 {
         color: #232323;
         font-family: "Panton";
         font-size: 36px;
         font-weight: bold;
      }
      & h3 {
         color: #232323;
         font-family: "Panton";
         font-size: 16px;
         font-weight: bold;
         letter-spacing: 1.6px;
         margin: 40px 0px 16px 0px;
         text-transform: uppercase;
      }
   }

   &__row {
      display: flex;
   }
}
.footer {
   background-color: #253036;
   padding: 70px 0px 70px 0px;

   & h1 {
      font-family: "Panton-Thin";
      font-size: 30px;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.1);
      letter-spacing: 3px;
      line-height: 50px;
   }
   & h2 {
      font-family: "Panton";
      color: rgba(255, 255, 255, 0.1);
      font-size: 15px;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 1.5px;
   }
   & h3 a {
      font-family: "Panton";
      font-size: 15px;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      color: rgba(255, 255, 255, 0.5);
      //text-decoration: underline;
      border-bottom: 1px solid rgba(255, 255, 255, 0.05);
      line-height: 40px;
   }
   & ul {
      margin: 20px 0px 0px 0px;
   }
   & li a {
      font-family: "Panton";
      color: rgba(255, 255, 255, 0.5);
      font-size: 14px;
      line-height: 40px;
      margin: 0px 40px 0px 0px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.05);
   }
   & .wrapper {
      display: flex;
   }
   &__column {
      // width: 100%;
      display: flex;
      flex-direction: column;
   }

   &__subcolumn {
      margin: 30px 0px 0px 0px;
      &.last {
         margin: 50px 0px 0px 0px;
      }
   }

   &__row {
      display: flex;
      justify-content: space-between;
      &.bottom {
         margin: 90px 0px 0px 0px;
         align-items: center;
      }
   }

   &__logo {
   }

   &__tel a {
      font-family: "Panton";
      color: $white;
      font-size: 18px;
      & span {
         font-weight: bold;
      }
   }

   &__call-button {
      font-family: "Panton";
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 1.2px;
      font-weight: bold;
      color: $white;
      border: 1px solid $white;
      border-radius: 1px;
      padding: 20px 40px 20px 40px;
   }

   &__sign a {
      border-bottom: 1px solid rgba(255, 255, 255, 0.05);
      color: rgba(255, 255, 255, 0.5);
      font-family: "Panton";
      font-size: 13px;
   }

   &__dev {
      position: relative;
      font-family: "Panton";
      font-size: 10px;
      color: rgba(255, 255, 255, 0.5);
      letter-spacing: 2px;
      display: flex;
      align-items: center;
      padding: 7px 10px 7px 14px;
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-right: none;
      margin: 0px 0px 15px 0px;
      &::after {
         content: "";
         width: 1px;
         height: 21px;
         background: rgba(255, 255, 255, 0.1);
         position: absolute;
         right: -8px;
         top: -3px;
         transform: rotate(-45deg);
      }
      &::before {
         content: "";
         width: 1px;
         height: 21px;
         background: rgba(255, 255, 255, 0.1);
         position: absolute;
         right: -8px;
         top: 12px;
         transform: rotate(45deg);
      }
      & img {
         margin: 0px 14px 0px 0px;
      }
   }
}
/* Слайдер */
.slick-slider {
}
/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
   overflow: hidden;
}
/* Лента слайдов */
.slick-track {
   display: flex;
}
/* Слайд */
.slick-slide {
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}
/* Стрелка */
.slick-arrow {
}
/* Стрелка влево */
.slick-arrow.slick-prev {
}
/* Стрелка вправо */
.slick-arrow.slick-next {
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}
/* Точки (булиты) */
.slick-dots {
}
.slick-dots li {
}
/* Активная точка */
.slick-dots li.slick-active {
}
/* Элемент точки */
.slick-dots li button {
}

//top slider
.header__slider {
   position: relative;

   /* Точки (булиты) */
   & .slick-dots {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: -50px 0px 0px 0px;
   }
   & .slick-dots li {
   }
   /* Активная точка */
   & .slick-dots li.slick-active button {
      background: $red;
   }
   /* Элемент точки */
   & .slick-dots li button {
      font-size: 0;
      width: 10px;
      height: 10px;
      background: rgba(255, 255, 255, 0.2);
      margin: 0px 17px 0px 17px;
      border-radius: 50%;
   }

   & .slick-arrow.slick-prev {
      left: -140px;
      background: url("../img/top-slider-arrow.png") 0 0 no-repeat;
   }
   & .slick-arrow.slick-next {
      right: -140px;
      background: url("../img/top-slider-arrow.png") 0 0 no-repeat;
      transform: rotate(180deg);
   }
   & .slick-arrow {
      position: absolute;
      top: 25%;
      z-index: 10;
      font-size: 0;
      width: 43px;
      height: 43px;
   }
}

// select slider
.selection__slider {
   position: relative;

   & .slick-arrow.slick-prev {
      left: 60px;
      background: url("../img/selection-arrow.png") 0 0 no-repeat;
   }
   & .slick-arrow.slick-next {
      right: 60px;
      background: url("../img/selection-arrow.png") 0 0 no-repeat;
      transform: rotate(180deg);
   }
   & .slick-arrow {
      position: absolute;
      bottom: 40px;
      z-index: 10;
      font-size: 0;
      width: 43px;
      height: 43px;
   }
}

// objects slider
.objects__slider {
   position: relative;

   & .slick-dots {
      display: flex;
   }

   /* Активная точка */
   & .slick-dots li.slick-active button {
      color: $red;
      font-size: 18px;
      font-weight: bold;
      background: none;
      & span {
         font-size: 13px;
         color: #181818;
      }
      position: absolute;
      left: 40px;
      bottom: 40px;
      &::before {
         content: "0";
      }
      &::after {
         content: "/ 04";
         font-size: 13px;
         color: #181818;
         margin: 0px 0px 0px 7px;
      }
   }
   /* Элемент точки */
   & .slick-dots li button {
      font-size: 0;
   }

   & .slick-arrow.slick-prev {
      left: -80px;
      background: url("../img/objects-arrow.png") 0 0 no-repeat;
   }
   & .slick-arrow.slick-next {
      right: -80px;
      background: url("../img/objects-arrow.png") 0 0 no-repeat;
      transform: rotate(180deg);
   }
   & .slick-arrow {
      position: absolute;
      top: 40%;
      z-index: 10;
      font-size: 0;
      width: 43px;
      height: 43px;
   }
}
